.table{
    border-collapse: collapse;
      text-align: center;
      margin: auto;
      padding: 0;
      margin:auto;
    }
    .table th{
      padding: 15px;
      border: 1px solid black;
    }
    .table td{
       padding: 15px;
       border: 1px solid black;
       
    }